<!DOCTYPE html>
<html>

<head>
  <title>Orders with @Model["vendor"].Name - Pierre's Bakery</title>
</head>

<body>
  @using PierresBakery.Models;

  <h3>Here is a list of all orders placed with @Model["vendor"].Name:</h3>

  @if (@Model["orders"].Count == 0)
  {
    <p>You haven't placed an order with @Model["vendor"].Name yet. Please use the button below to place an order.</p>
  }
  else
  {
    <p>Select a previous order from the list below to review it, or use the button below to place a new order.</p>
    <ol>
      @foreach (Order order in Model["orders"])
      {
        <li><a href='/vendors/@Model["vendor"]/orders/@order.Id'>@order.Title</a></li>
      }
    </ol>
  }



  <a href='/vendors/@Model["vendor"].Id/orders/new'><button>Place an Order</button></a>
  <br /><br /><br />
  <a href='/vendors'><button>Return to Vendors List</button></a>
  <br /><br />
  <a href='/'><button>Home</button></a>
</body>

</html>