<!DOCTYPE html>
<html>

<head>
  <title>Orders with @Model["vendor"].Name - Pierre's Bakery</title>
</head>

<body>
  Howdy!
</body>
@* 
<body>
  @using PierresBakery.Models;

  <h3>Here is a list of all orders placed with @Model["vendor"]:</h3>

  @if (@Model["orders"].Count == 0)
  {
    <h3>You haven't placed an order with @Model["vendor"] yet. Please use the button below to place an order.</h3>
  }
  else
  {
    <p>Select a vendor from the list below to place an order, or use the button below to create a new vendor.</p>
    <ol>
      @foreach (Order order in Model["orders"])
      {
        <li><a href='/vendors/@Model["vendor"]/orders/@order.Id'>@order.Title</a></li>
      }
    </ol>
  }



  <p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p>
  <p><a href='/categories'>Return to category list</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</body> *@

</html>